ipython
myst-parser[linkify]
myst-nb
pandas
sphinx
git+https://github.com/2i2c-org/sphinx-2i2c-theme
sphinx-copybutton
sphinx-design
sphinx-togglebutton
sphinxcontrib-mermaid
sphinxext-rediraffe
tomlkit

# Slack SDK for pulling Support Steward info
slack-sdk

# For /hub-activity.md
python-dotenv
dateparser
prometheus-pandas
plotly
tomlkit