# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#
name: Test docs

on:
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  workflow_dispatch:

jobs:
  test-docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      # linkcheck is done separately from this in doc-links.yml, scheduled to
      # run every day and open/update an issue
      - name: make dirhtml
        env:
          GRAFANA_TOKEN: ${{ secrets.GRAFANA_TOKEN }}
        run: |
          make dirhtml SPHINXOPTS='--color --keep-going'
          cat /home/runner/work/team-compass/team-compass/_build/dirhtml/reports/partnerships/community_success/hub-activity.err.log
